################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FiapTodoApp
/FiapTodoApp/bin/x86/Debug
/FiapTodoApp/obj
