################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FiapTodoApp/bin
/FiapTodoApp/obj
